/*Nele aprendemos como funciona o display: inline. 
Lá vimos que todo elemento HTML com display: inline,
 não aceita as propriedades width e height.*/

header {
  
  padding: 10px;
  background-color: red;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  border-radius: 10px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: dimgrey;
  border-radius: 10px;
  }

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 10px
}

li a:hover {
    background-color: yellow;
    color: black;
}

.link_menu {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.imagem img {
  margin-left: 60px
}

footer {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
  border-radius: 10px;
  font-size: 18px;
  background-color: dimgray;
  color: white;


}